nav {
    position: relative;
    border-right: 1px solid #d2d2d2;
    width: 18%;
    height: 100vh;
    padding: 0px 30px;
  }
  /* logo ẩn cho tablet */
  nav .iconlogo {
    color: black;
    display: none;
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    padding: 10px 0px;
  }
  nav h2 {
    font-family: "Arbutus", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    margin: 0px;
    padding: 30px 0px;
    margin-left: 10px;
  }
  nav .container_ul ul {
    padding: 0px;
    margin: 0px;
  }
  nav .container_ul ul li {
    list-style: none;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 10px;
    transition: all 0.7s;
    display: flex;
    align-content: center;
  }
  nav .container_ul ul li a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  nav .container_ul ul li i {
    font-size: 28px;
    margin-right: 5px;
  }
  nav .container_ul ul .addpost {
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
  }
  nav .container_ul ul li:hover {
    background-color: #eeeeee;
  }
  
  /* máy tính bảng */
@media (min-width: 768px) and (max-width: 1023px) {
    nav {
      width: 10%;
      height: 100vh;
      border-right: 1px solid #d2d2d2;
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
    }
    nav .iconlogo {
      display: block;
      margin-bottom: 20px;
    }
  
    nav h2 {
      display: none;
    }
  
    nav .container_ul {
      width: auto;
    }
  
    nav .container_ul ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav .container_ul ul li {
      margin-bottom: 20px;
      padding: 10px;
    }
  }
  /* Mobile */
  @media (max-width: 767px) {
    nav {
      border: none;
      width: 100%;
      padding: 0;
      height: auto;
      position: relative;
      z-index: 1;
    }
    nav h2 {
      margin-left: 0;
      padding: 20px 10px;
      font-size: 24px;
    }
    nav .container_ul ul li a span {
      display: none;
    }
    nav .container_ul ul li {
      margin-bottom: 0;
      padding: 10px;
      line-height: 45px;
      width: 100%;
      text-align: center;
      margin: auto;
    }
    nav .container_ul ul li a {
      margin: auto;
    }
    nav .container_ul {
      display: flex;
      width: 100%;
      height: 60px;
      position: fixed;
      bottom: 0;
      z-index: 1;
      background-color: white;
      border-top: 1px solid #d2d2d2;
    }
    nav .container_ul ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  